{
   "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
   },
   "extends": ["eslint:recommended"],
   "rules": {
      "strict": ["error", "never"]
      //   never since we are using es6 modules
   },
   "env": {
      // environment
      "browser": true,
      "jest/globals": true
   },
   "plugins": ["jest"]
}
