*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   background-color: #2e3440;
   color: white;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   font: 1em/1.5 'Zen Loop', cursive;
}

.start-btn {
   position: absolute;
   top: 40%;
   left: 42%;
   width: 20%;
   height: 20%;
   transition: 300ms;
   font-size: 3rem;
   text-transform: uppercase;
   padding: 1.5rem 1.5rem;
   font-weight: bold;
}

.start-btn:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.title {
   font-size: 4rem;
   margin-bottom: 0;
   font-weight: bold;
   text-align: center;
}

.sub-title {
   margin-top: 0;
   text-align: center;
}

.words-container {
   text-align: center;
   border-left: 1px solid;
   padding-left: 3rem;
}

@media (max-width: 750px) {
   .wrapper {
      flex-direction: column;
   }

   .hangman-container {
      order: 2;
   }

   .words-container {
      padding: 0;
      border-left: unset;
   }
}

.container {
   max-width: 900px;
   width: 80%;
}

.wrapper {
   display: flex;
   position: relative;
   align-items: center;
   min-height: 500px;
   padding: 1rem;
   border: 2px solid white;
   border-radius: 15px;
}

.wrapper-child {
   flex: 1 100%;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.8rem;
   margin: 0;
}

#tries-remaining {
   display: inline-block;
   font-size: 1.5rem;
   font-weight: bolder;
   border-bottom: 1px solid;
}

.input {
   border: 2px solid;
   border-radius: 10px;
   margin-bottom: 1rem;
   padding: 0.5rem;
   outline: none;
   font-size: 1.5rem;
   background: white url('/images/angle-right-solid.svg') no-repeat 90% center /
      6%;
}

.input:hover {
   outline: none;
}

.input::placeholder {
   color: black;
   font-weight: bold;
   font-size: 1.3rem;
}

button {
   border: 2px solid;
   border-radius: 10px;
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
}

button:hover {
   font-weight: bold;
}

.input:focus {
   border: 3px solid mediumaquamarine;
   font-weight: bold;
}

#word-to-guess {
   font-size: 2rem;
   letter-spacing: 0.7ch;
}

.error-icon {
   background: url('/images/exclamation-solid.svg') no-repeat 90% center / 4%;
}

#timer {
   font-size: 2rem;
   display: flex;
   justify-content: center;
}

/* =================
      JS CLASSES 
================== */

.hidden {
   display: none;
}

.reset {
   position: absolute;
   top: 40%;
   left: 42%;
   font-size: 4rem;
   text-transform: uppercase;
}

.error {
   color: lightcoral;
}

.error-msg {
   font-size: 1.5rem;
   font-weight: bold;
   margin: 0.5rem 0 0 0;
}

.error-border {
   border: 3px solid lightcoral;
}

.error-border::placeholder {
   color: lightcoral;
}
